services:
  outline:
    build: .
    env_file: .env
    ports:
      - 3000:3000
    volumes:
      - ./data/outline:/var/lib/outline/data
    depends_on:
      - postgres
      - redis

  postgres:
    image: pgvector/pgvector:pg18
    volumes:
      - ./data/postgres:/var/lib/postgresql
    expose: 
      - 5432
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

  redis:
    image: redis:8
    expose:
      - 6379